
/* Reset some defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Header */
header {
  background-color: #050346; /* dark green */
  color: #fff;
  text-align: center;
  padding: 20px;
}

header h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

header p {
  font-size: 1rem;
}

/* Map container */
.map-container {
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center;     /* center vertically if needed */
  padding: 20px;
  min-height: 600px; /* ensures map has space for vertical centering */
}

/* Footer */
footer {
  text-align: center;
  padding: 15px;
  background-color: #050346;
  color: #fefcfc;
  margin-top: 20px;
}
